$datepicker-container-width: 300px;
$margin-between-elements: 12px;
$textfield-width: 160px;
$button-width: 100px;
.MainPage {
  margin: 20px;
  display: flex;
  max-width: 800px;
  align-self: center;
  max-width: calc(100% - 40px);

  .main-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loading-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    span {
      display: inline-block;
      margin-right: 20px;
    }
  }

  .text-and-chips-yum {
    display: flex;
    flex-direction: column;

    .chips-bowl {
      display: flex;
      flex-direction: row;

      .chip-item {
        margin-right: 10px;
      }
    }

    margin-bottom: 40px;
  }

  .info-and-chart-wrapper {
    width: 100%;
  }

  .options-wrapper {
    width: 100%;
    .options-container {
      display: flex;
      align-items: center;
      // justify-content: center;
      flex-wrap: wrap;
      width: 100%;
  
      .datepicker-containers {
        max-width: $datepicker-container-width;
        .datepicker {
          width: 140px;
        }
      }
  
      .actionable-item-container {
        margin: $margin-between-elements;
      }
  
      .button {
        width: $button-width;
      }
  
      .textfield {
        width: $textfield-width;
      }
    }
  }
}